In [1]:
#%pip install numpy==1.19.5
#%pip install scipy==1.10.1
#%pip install scikit-learn
#%pip install pandas==1.4.4
#%pip install contourpy==1.1.1
#%pip install matplotlib==3.6
#%pip install keras==2.5.0rc0 tensorflow==2.5.0

In [2]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

C:\Users\avitr\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [3]:
import numpy as np
import sklearn
import pandas as pd

In [4]:
print(tf.__version__)
print(keras.__version__)

2.9.1
2.9.0

In [5]:
import pandas as pd

In [6]:
training_data = pd.read_csv('as1-bank.csv')

In [7]:
training_data

,age,marital,education,default,balance,housing,loan,contact,duration,campaign,pdays,previous,poutcome,y
0,33,1,2,no,882,no,no,1,39,1,151,3,0,no
1,42,0,1,no,-247,yes,yes,1,519,1,166,1,2,yes
2,33,1,1,no,3444,yes,no,1,144,1,91,4,0,yes
3,36,1,2,no,2415,yes,no,1,73,1,86,4,2,no
4,36,1,2,no,0,yes,no,1,140,1,143,3,0,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7837,34,0,1,no,1475,yes,no,0,1166,3,530,12,2,no
7838,53,1,2,no,583,no,no,0,226,1,184,4,1,yes
7839,73,1,1,no,2850,no,no,0,300,1,40,8,0,yes
7840,72,1,1,no,5715,no,no,0,1127,5,184,3,1,yes
7841,37,1,1,no,2971,no,no,0,361,2,188,11,2,no

In [8]:
training_y = training_data.pop('y')
training_y.replace("yes", 1, inplace=True)
training_y.replace("no", 0, inplace=True)
training_x = training_data

C:\Users\avitr\AppData\Local\Temp\ipykernel_29740\1015853388.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  training_y.replace("no", 0, inplace=True)

In [9]:
training_x

,age,marital,education,default,balance,housing,loan,contact,duration,campaign,pdays,previous,poutcome
0,33,1,2,no,882,no,no,1,39,1,151,3,0
1,42,0,1,no,-247,yes,yes,1,519,1,166,1,2
2,33,1,1,no,3444,yes,no,1,144,1,91,4,0
3,36,1,2,no,2415,yes,no,1,73,1,86,4,2
4,36,1,2,no,0,yes,no,1,140,1,143,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7837,34,0,1,no,1475,yes,no,0,1166,3,530,12,2
7838,53,1,2,no,583,no,no,0,226,1,184,4,1
7839,73,1,1,no,2850,no,no,0,300,1,40,8,0
7840,72,1,1,no,5715,no,no,0,1127,5,184,3,1
7841,37,1,1,no,2971,no,no,0,361,2,188,11,2

In [10]:
training_x = pd.get_dummies(training_x)

In [11]:
training_y

0       0
1       1
2       1
3       0
4       1
       ..
7837    0
7838    1
7839    1
7840    1
7841    0
Name: y, Length: 7842, dtype: int64

In [12]:
arr_train_x = training_x.to_numpy()
arr_train_y = training_y.to_numpy()

In [13]:
print(arr_train_x)

[[33 1 2 ... False True False]
 [42 0 1 ... True False True]
 [33 1 1 ... True True False]
 ...
 [73 1 1 ... False True False]
 [72 1 1 ... False True False]
 [37 1 1 ... False True False]]

In [14]:
print(arr_train_x.shape)
print(arr_train_y.shape)

(7842, 16)
(7842,)

In [15]:
model = keras.Sequential()

model.add(layers.InputLayer(input_shape=(16))) # 16 Columns of input

model.add(layers.Dense(32, activation="relu"))

model.add(layers.Dense(1, activation="sigmoid")) # 0->1 floating

model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 32)                544

 dense_1 (Dense)             (None, 1)                 33

=================================================================
Total params: 577
Trainable params: 577
Non-trainable params: 0
_________________________________________________________________

In [16]:
model.compile(
    loss='binary_crossentropy',
    optimizer='sgd',
    metrics=['accuracy']
)

In [17]:
arr_train_x = np.asarray(arr_train_x, np.float32)
arr_train_x = tf.convert_to_tensor(arr_train_x, np.float32)

arr_train_y = tf.convert_to_tensor(arr_train_y, np.int32)

In [18]:
model_training_history = model.fit(
    arr_train_x,
    arr_train_y,
    epochs = 50
)

Epoch 1/50
246/246 [==============================] - 1s 973us/step - loss: 103.2920 - accuracy: 0.7664
Epoch 2/50
246/246 [==============================] - 0s 771us/step - loss: 11.1516 - accuracy: 0.7679
Epoch 3/50
246/246 [==============================] - 0s 791us/step - loss: 3.5190 - accuracy: 0.7708
Epoch 4/50
246/246 [==============================] - 0s 939us/step - loss: 1.7167 - accuracy: 0.7711
Epoch 5/50
246/246 [==============================] - 0s 980us/step - loss: 1.8626 - accuracy: 0.7703
Epoch 6/50
246/246 [==============================] - 0s 1ms/step - loss: 1.3479 - accuracy: 0.7721
Epoch 7/50
246/246 [==============================] - 0s 1ms/step - loss: 1.1351 - accuracy: 0.7719
Epoch 8/50
246/246 [==============================] - 0s 951us/step - loss: 0.9940 - accuracy: 0.7708
Epoch 9/50
246/246 [==============================] - 0s 941us/step - loss: 0.7694 - accuracy: 0.7719
Epoch 10/50
246/246 [==============================] - 0s 957us/step - loss: 0.9162 - accuracy: 0.7702
Epoch 11/50
246/246 [==============================] - 0s 946us/step - loss: 0.9486 - accuracy: 0.7705
Epoch 12/50
246/246 [==============================] - 0s 878us/step - loss: 0.8546 - accuracy: 0.7719
Epoch 13/50
246/246 [==============================] - 0s 911us/step - loss: 0.8108 - accuracy: 0.7719
Epoch 14/50
246/246 [==============================] - 0s 901us/step - loss: 0.6421 - accuracy: 0.7706
Epoch 15/50
246/246 [==============================] - 0s 1ms/step - loss: 0.8227 - accuracy: 0.7720
Epoch 16/50
246/246 [==============================] - 0s 937us/step - loss: 0.6312 - accuracy: 0.7719
Epoch 17/50
246/246 [==============================] - 0s 997us/step - loss: 0.7907 - accuracy: 0.7720
Epoch 18/50
246/246 [==============================] - 0s 999us/step - loss: 0.7874 - accuracy: 0.7720
Epoch 19/50
246/246 [==============================] - 0s 984us/step - loss: 0.7532 - accuracy: 0.7717
Epoch 20/50
246/246 [==============================] - 0s 911us/step - loss: 0.6608 - accuracy: 0.7721
Epoch 21/50
246/246 [==============================] - 0s 898us/step - loss: 0.7247 - accuracy: 0.7693
Epoch 22/50
246/246 [==============================] - 0s 1ms/step - loss: 0.6488 - accuracy: 0.7717
Epoch 23/50
246/246 [==============================] - 0s 974us/step - loss: 0.6952 - accuracy: 0.7714
Epoch 24/50
246/246 [==============================] - 0s 943us/step - loss: 0.6612 - accuracy: 0.7720
Epoch 25/50
246/246 [==============================] - 0s 954us/step - loss: 0.6666 - accuracy: 0.7716
Epoch 26/50
246/246 [==============================] - 0s 1ms/step - loss: 0.5594 - accuracy: 0.7719
Epoch 27/50
246/246 [==============================] - 0s 1ms/step - loss: 0.7044 - accuracy: 0.7721
Epoch 28/50
246/246 [==============================] - 0s 1ms/step - loss: 0.6196 - accuracy: 0.7721
Epoch 29/50
246/246 [==============================] - 0s 920us/step - loss: 0.6589 - accuracy: 0.7720
Epoch 30/50
246/246 [==============================] - 0s 1ms/step - loss: 0.5998 - accuracy: 0.7720
Epoch 31/50
246/246 [==============================] - 0s 859us/step - loss: 0.5897 - accuracy: 0.7720
Epoch 32/50
246/246 [==============================] - 0s 1ms/step - loss: 0.5606 - accuracy: 0.7717
Epoch 33/50
246/246 [==============================] - 0s 1ms/step - loss: 0.5716 - accuracy: 0.7708
Epoch 34/50
246/246 [==============================] - 0s 996us/step - loss: 0.6202 - accuracy: 0.7721
Epoch 35/50
246/246 [==============================] - 0s 987us/step - loss: 0.5726 - accuracy: 0.7721
Epoch 36/50
246/246 [==============================] - 0s 964us/step - loss: 0.5698 - accuracy: 0.7719
Epoch 37/50
246/246 [==============================] - 0s 993us/step - loss: 0.5441 - accuracy: 0.7721
Epoch 38/50
246/246 [==============================] - 0s 1ms/step - loss: 0.5684 - accuracy: 0.7723
Epoch 39/50
246/246 [==============================] - 0s 1ms/step - loss: 0.5095 - accuracy: 0.7723
Epoch 40/50
246/246 [==============================] - 0s 1ms/step - loss: 0.5206 - accuracy: 0.7712
Epoch 41/50
246/246 [==============================] - 0s 1ms/step - loss: 0.5333 - accuracy: 0.7720
Epoch 42/50
246/246 [==============================] - 0s 1ms/step - loss: 0.5132 - accuracy: 0.7719
Epoch 43/50
246/246 [==============================] - 0s 1ms/step - loss: 0.5228 - accuracy: 0.7720
Epoch 44/50
246/246 [==============================] - 0s 947us/step - loss: 0.5135 - accuracy: 0.7716
Epoch 45/50
246/246 [==============================] - 0s 958us/step - loss: 0.5358 - accuracy: 0.7715
Epoch 46/50
246/246 [==============================] - 0s 964us/step - loss: 0.5172 - accuracy: 0.7723
Epoch 47/50
246/246 [==============================] - 0s 1ms/step - loss: 0.5186 - accuracy: 0.7719
Epoch 48/50
246/246 [==============================] - 0s 998us/step - loss: 0.5044 - accuracy: 0.7721
Epoch 49/50
246/246 [==============================] - 0s 967us/step - loss: 0.5130 - accuracy: 0.7712
Epoch 50/50
246/246 [==============================] - 0s 1ms/step - loss: 0.5221 - accuracy: 0.7721