In [5]:
import pandas as pd

In [8]:
# dataset: https://www.kaggle.com/datasets/kashnitsky/mlcourse?select=telecom_churn.csv
df = pd.read_csv(r'D:\OneDrive - NITT\Custom_Download\telecom_churn.csv')

In [10]:
df

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3329,WV,68,415,No,No,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3330,RI,28,510,No,No,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3331,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False
3332,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

In [16]:
df.dtypes

State                      object
Account length              int64
Area code                   int64
International plan         object
Voice mail plan            object
Number vmail messages       int64
Total day minutes         float64
Total day calls             int64
Total day charge          float64
Total eve minutes         float64
Total eve calls             int64
Total eve charge          float64
Total night minutes       float64
Total night calls           int64
Total night charge        float64
Total intl minutes        float64
Total intl calls            int64
Total intl charge         float64
Customer service calls      int64
Churn                        bool
dtype: object

In [20]:
df.select_dtypes('float')

,Total day minutes,Total day charge,Total eve minutes,Total eve charge,Total night minutes,Total night charge,Total intl minutes,Total intl charge
0,265.1,45.07,197.4,16.78,244.7,11.01,10.0,2.70
1,161.6,27.47,195.5,16.62,254.4,11.45,13.7,3.70
2,243.4,41.38,121.2,10.30,162.6,7.32,12.2,3.29
3,299.4,50.90,61.9,5.26,196.9,8.86,6.6,1.78
4,166.7,28.34,148.3,12.61,186.9,8.41,10.1,2.73
...,...,...,...,...,...,...,...,...
3328,156.2,26.55,215.5,18.32,279.1,12.56,9.9,2.67
3329,231.1,39.29,153.4,13.04,191.3,8.61,9.6,2.59
3330,180.8,30.74,288.8,24.55,191.9,8.64,14.1,3.81
3331,213.8,36.35,159.6,13.57,139.2,6.26,5.0,1.35
3332,234.4,39.85,265.9,22.60,241.4,10.86,13.7,3.70

In [18]:
df.select_dtypes('O')

     State International plan Voice mail plan
0       KS                 No             Yes
1       OH                 No             Yes
2       NJ                 No              No
3       OH                Yes              No
4       OK                Yes              No
...    ...                ...             ...
3328    AZ                 No             Yes
3329    WV                 No              No
3330    RI                 No              No
3331    CT                Yes              No
3332    TN                 No             Yes

[3333 rows x 3 columns]

In [1]:
import tweepy
import requests
import time

# Set up your Twitter API keys and ChatGPT-4 API key

# Set your Twitter list ID
twitter_list_id = "1742760313487769688"

# Initialize Twitter API
auth = tweepy.OAuthHandler(twitter_api_key, twitter_api_secret)
auth.set_access_token(twitter_access_token, twitter_access_token_secret)
api = tweepy.API(auth)

# Function to fetch tweets from a Twitter list
def get_tweets_from_list():
    try:
        # Use Twitter API v2 to fetch tweets from the specified Twitter list
        # You need to implement this part based on Twitter API v2 documentation
        # Example: You can use 'tweepy' to authenticate and make API requests.
        # Replace this with the actual API call to get tweets.
        tweets = api.list_timeline(list_id=twitter_list_id, tweet_mode="extended")
        return tweets
    except tweepy.TweepError as e:
        print(f"Error fetching tweets: {str(e)}")
        return []

# Function to generate a response using ChatGPT-4
def generate_response(tweet_content):
    try:
        # Use the ChatGPT-4 API to generate responses based on tweet content
        chatgpt4_url = "https://api.openai.com/v1/chat/completions"
        headers = {
            "Authorization": f"Bearer {chatgpt4_api_key}"
        }
        data = {
            "model": "gpt-4.0-turbo",
            "messages": [{"role": "system", "content": "You are a helpful assistant."}, {"role": "user", "content": tweet_content}]
        }
        response = requests.post(chatgpt4_url, headers=headers, json=data)
        response_data = response.json()
        return response_data["choices"][0]["message"]["content"]
    except Exception as e:
        print(f"Error generating response: {str(e)}")
        return "I encountered an error and couldn't generate a response."

# Function to reply to tweets
def reply_to_tweet(tweet, response):
    try:
        tweet_id = tweet.id
        username = tweet.user.screen_name
        reply_text = f"@{username} {response}"
        api.update_status(reply_text, in_reply_to_status_id=tweet_id)
        print(f"Replied to tweet by @{username}: {tweet.full_text}")
    except tweepy.TweepError as e:
        print(f"Error replying to tweet: {str(e)}")

# Main loop to monitor tweets and reply
while True:
#     try:
    tweets = get_tweets_from_list()
    for tweet in tweets:
        tweet_age = (time.time() - tweet.created_at.timestamp()) / 60
        if tweet_age <= 2:
            tweet_content = tweet.full_text
            response = generate_response(tweet_content)
            reply_to_tweet(tweet, response)
    time.sleep(60)
#     except KeyboardInterrupt:
#         print("Bot stopped by user.")
#         break
#     except Exception as e:
#         print(f"An error occurred: {str(e)}")

AttributeError: module 'tweepy' has no attribute 'TweepError'

In [3]:
%%writefile 11.py
# %load 11.py
for i in range(100):
    print(i)
    print('Hello')

Overwriting 11.py

In [1]:
!python 11.py

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99